In [1]:
import numpy as np
import pandas as pd
from os import getcwd
from os.path import join, dirname

In [2]:
# Prepare data
data_path = join(dirname(getcwd()), 'data', 'Newdata-2.csv')

data = pd.read_csv(data_path)
data.describe(include='all')

,Transaction,Customer_Type,SystemF1,SystemF2,SystemF3,SystemF4,SystemF5,Account_Page,Account_Page_Time,Info_Page,...,ProductPage_Time,Month,Weekday,SpecificHoliday,GoogleAnalytics_BR,GoogleAnalytics_ER,GoogleAnalytics_PV,Ad_Campaign_1,Ad_Campaign2,Ad_Campaign3
count,12205.000000,12205,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,...,12205.000000,12205.000000,12205,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Returning_Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,10431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.156329,NaN,2.124211,2.357804,3.153298,4.073904,3.003687,2.338878,81.646331,0.508726,...,1206.982457,7.394674,NaN,0.061942,0.020370,0.041466,5.949574,0.016796,0.016796,0.016796
std,0.363182,NaN,0.906823,1.710114,2.402340,4.016654,1.409130,3.330436,177.491845,1.275617,...,1919.601400,3.622622,NaN,0.199666,0.045255,0.046163,18.653671,0.128513,0.128513,0.128513
min,0.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,NaN,2.000000,2.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,193.000000,4.000000,NaN,0.000000,0.000000,0.014231,0.000000,0.000000,0.000000,0.000000
50%,0.000000,NaN,2.000000,2.000000,3.000000,2.000000,3.000000,1.000000,9.000000,0.000000,...,608.942857,8.000000,NaN,0.000000,0.002899,0.025000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,NaN,3.000000,2.000000,4.000000,4.000000,4.000000,4.000000,94.700000,0.000000,...,1477.154762,11.000000,NaN,0.000000,0.016667,0.048529,0.000000,0.000000,0.000000,0.000000
max,1.000000,NaN,8.000000,13.000000,9.000000,20.000000,5.000000,27.000000,3398.750000,24.000000,...,63973.522230,12.000000,NaN,1.000000,0.200000,0.200000,361.763742,1.000000,1.000000,1.000000

In [3]:
data.describe(include='all')

,Transaction,Customer_Type,SystemF1,SystemF2,SystemF3,SystemF4,SystemF5,Account_Page,Account_Page_Time,Info_Page,...,ProductPage_Time,Month,Weekday,SpecificHoliday,GoogleAnalytics_BR,GoogleAnalytics_ER,GoogleAnalytics_PV,Ad_Campaign_1,Ad_Campaign2,Ad_Campaign3
count,12205.000000,12205,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,...,12205.000000,12205.000000,12205,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000,12205.000000
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Returning_Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,10431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.156329,NaN,2.124211,2.357804,3.153298,4.073904,3.003687,2.338878,81.646331,0.508726,...,1206.982457,7.394674,NaN,0.061942,0.020370,0.041466,5.949574,0.016796,0.016796,0.016796
std,0.363182,NaN,0.906823,1.710114,2.402340,4.016654,1.409130,3.330436,177.491845,1.275617,...,1919.601400,3.622622,NaN,0.199666,0.045255,0.046163,18.653671,0.128513,0.128513,0.128513
min,0.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,NaN,2.000000,2.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,193.000000,4.000000,NaN,0.000000,0.000000,0.014231,0.000000,0.000000,0.000000,0.000000
50%,0.000000,NaN,2.000000,2.000000,3.000000,2.000000,3.000000,1.000000,9.000000,0.000000,...,608.942857,8.000000,NaN,0.000000,0.002899,0.025000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,NaN,3.000000,2.000000,4.000000,4.000000,4.000000,4.000000,94.700000,0.000000,...,1477.154762,11.000000,NaN,0.000000,0.016667,0.048529,0.000000,0.000000,0.000000,0.000000
max,1.000000,NaN,8.000000,13.000000,9.000000,20.000000,5.000000,27.000000,3398.750000,24.000000,...,63973.522230,12.000000,NaN,1.000000,0.200000,0.200000,361.763742,1.000000,1.000000,1.000000

In [4]:
# check missing value
percent_missing = data.isnull().sum() * 100 / len(data)
missing_value_df = pd.DataFrame({'column_name': data.columns,
                                 'percent_missing': percent_missing})
missing_value_df

                           column_name  percent_missing
Transaction                Transaction              0.0
Customer_Type            Customer_Type              0.0
SystemF1                      SystemF1              0.0
SystemF2                      SystemF2              0.0
SystemF3                      SystemF3              0.0
SystemF4                      SystemF4              0.0
SystemF5                      SystemF5              0.0
Account_Page              Account_Page              0.0
Account_Page_Time    Account_Page_Time              0.0
Info_Page                    Info_Page              0.0
Info_Page_Time          Info_Page_Time              0.0
ProductPage                ProductPage              0.0
ProductPage_Time      ProductPage_Time              0.0
Month                            Month              0.0
Weekday                        Weekday              0.0
SpecificHoliday        SpecificHoliday              0.0
GoogleAnalytics_BR  GoogleAnalytics_BR              0.0
GoogleAnalytics_ER  GoogleAnalytics_ER              0.0
GoogleAnalytics_PV  GoogleAnalytics_PV              0.0
Ad_Campaign_1            Ad_Campaign_1              0.0
Ad_Campaign2              Ad_Campaign2              0.0
Ad_Campaign3              Ad_Campaign3              0.0